.flexboxColumn {
  display: flex;
  flex-direction: column;
}

.flexboxWithWrap {
  display: flex;
  flex-wrap: wrap;
}

.flexbox {
  display: flex;
  width: 100%;
}

.filtersDiv {
  width: 25%;
}

.productsDiv {
  width: 73%;
  justify-content: flex-end;
}

.productsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style-type: none;
  padding: 0;
}

.sortButton {
  margin-left: 10px;
}

// .justifyCenter {
//   justify-content: center;
// }

// .searchButton {
//   border: 0;
//   background: transparent;
//   font-size: 120%;
//   margin-bottom: 2%;
// }

// .input {
//   width: 75%;
// }

.fixed {
  position: fixed;
  width: 25%;
}

// .clearButton {
//   font-size: 25px;
// }
