.pageContent {
  margin: 0 10% 5% 10%;
}

.table td {
  vertical-align: middle;
}

.productTitle {
  display: inline;
  margin-left: 15%;
}

.alignLeft {
  text-align: left;
}

.productColumn {
  width: 50%;
  text-align: left;
}

.orderHeader {
  font-size: 18px;
  font-weight: bold;
  padding: 2%;
}
