.grid {
  display: grid;
  grid-template-columns: 42% 58%;
}

.bodyGrid {
  display: grid;
  grid-template-columns: 80% 20%;
  height: 100%;
  text-align: center;
  align-items: center;
}

.card {
  margin: 5px;
}

.cardBody {
  padding: 0.8rem 0 0.8rem 0;
}

.font {
  font-size: 14px;
}

.noMargin {
  margin-bottom: 0;
}
