.inlineDisplay {
  display: inline-flex;
}

.scrollableMenu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.smallInput {
  width: 90%;
}

.grid3Cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid4Cols {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid2Cols {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
