.loginButton {
  float: right;
  margin-left: auto;
}

.menuList {
  list-style-type: none;
}

.listItem {
  display: inline;
}

.fontSize15 {
  font-size: 15px;
}

.icon {
  color: black;
  font-size: 26px;
  text-decoration: none;
  border: 0;
  background: transparent;
}

.icon:hover {
  color: #0056b3;
}

.fixedNavbar {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1;
  padding: 1% 5% 1% 5%;
}
