.loginButton {
  float: right;
  margin-left: auto;
}

.menuList {
  list-style-type: none;
}

.listItem {
  display: inline;
}

.fontSize15 {
  font-size: 15px;
}

.icon {
  color: black;
  font-size: 26px;
  text-decoration: none;
}
