.card {
  margin: 10px;
  position: inherit;
  border: 0;
}

.addToCartButton {
  border-radius: 50%;
  float: right;
}

.cartIcon {
  font-size: 20px;
  margin-bottom: 2px;
}

.pointerCursor {
  cursor: pointer;
}
