ul {
  list-style: none;
  padding-left: 5%;
}

.filterCard {
  margin: 7%;
  text-align: left;
}

.filterItem {
  cursor: pointer;
  border: 1px solid #c5c9ce;
  border-radius: 15px;
  margin-bottom: 2%;
  padding: 2%;
  width: 90%;
  background-color: transparent;
}

.selected {
  font-weight: 500;
}

.clearIcon {
  cursor: pointer;
  float: right;
}
