ul {
  list-style: none;
  padding-left: 5%;
}

.filterCard {
  margin: 7%;
  text-align: left;
  position: inherit;
}

.filterItem {
  cursor: pointer;
  border: 1px solid #808588;
  border-radius: 15px;
  margin-bottom: 2%;
  padding: 2%;
  width: 90%;
}
