ul {
  list-style: none;
  padding-left: 5%;
}

.filterCard {
  margin: 7%;
  text-align: left;
}

.filterItem {
  // border: 1px solid #c5c9ce;
  margin-bottom: 2%;
  padding: 2%;
  width: 90%;
}

.selected {
  font-weight: 500;
  color: white;
  background-color: black;
}

.clearIcon {
  cursor: pointer;
  float: right;
}
