/* import only the necessary Bootstrap files */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
/* -------begin customization-------- */
/* change the primary theme color to red */

$theme-colors: (
  // secondary: #808588
  black: black,
  white: white
);

$dropdown-link-active-bg: rgb(0, 0, 0);

$btn-font-size-xs: 1rem * 0.78;

/* -------end customization-------- */
/* finally, import Bootstrap to set the changes! */
@import '~bootstrap';

.btn-xs {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-xs,
    $btn-line-height-sm,
    $btn-border-radius-sm
  );
}

.btn {
  border-radius: 0;
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.card-body {
  padding: 1.5rem;
}

.btn-dropdown-outline-black {
  @include button-outline-variant(black);
  font-family: 'bembo';
  text-transform: uppercase;
}

.btn-dropdown-simple {
  @include button-outline-variant(black);
  border-color: #ced4da;
}

.form-control:focus {
  // color: #495057;
  //   background-color: #fff;
  border-color: #abadae;
  // outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(103, 114, 132, 0.25);
}

.dropdown-toggle-custom,
.dropdown-toggle-custom:hover,
.dropdown-toggle-custom:active {
  background-color: transparent;
  color: #495057;
  border-color: #ced4da;
  border-radius: 0.25rem;
}

.nav-link {
  color: black;
  display: block;
  padding: 0.5rem 1rem;
}

.btn-no-margin {
  color: black;
}

.dropdown-filter {
  font-family: 'bembo';
  text-transform: uppercase;
  font-size: $btn-font-size-xs;
}

.uppercase-bembo {
  font-family: 'bembo';
  text-transform: uppercase;
}

.logo-image {
  width: 11%;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.form-control {
  margin-bottom: 1%;
}

.no-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-style-none {
  list-style: none;
}

.search-input {
  width: 50%;
  margin-right: 2%;
  display: inline-flex;
}

.crossed {
  text-decoration: line-through;
}

.flexbox-column {
  display: flex;
  flex-direction: column;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.pointerCursor {
  cursor: pointer;
}
